SPRING_PROFILES_ACTIVE=prod,demo
SPRING_DATASOURCE_URL=jdbc:mysql://${{MYSQLHOST}}:${{MYSQLPORT}}/${{MYSQLDATABASE}}?useUnicode=true&characterEncoding=utf8&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Ho_Chi_Minh
SPRING_DATASOURCE_USERNAME=${{MYSQLUSER}}
SPRING_DATASOURCE_PASSWORD=${{MYSQLPASSWORD}}
JHIPSTER_SECURITY_AUTHENTICATION_JWT_BASE64_SECRET=tzKPNJk7BsNlXnEsWalvwHxoVbVAxebzZiqDIsCzsozSuwTXOmnFQ11HxPmfYZlrb5iPPfd5pMoBhP2AjdLGgQ==
JHIPSTER_CORS_ALLOWED_ORIGIN_PATTERNS=https://*.vercel.app
JHIPSTER_CORS_ALLOWED_ORIGINS=
JHIPSTER_MAIL_BASE_URL=https://REPLACE-WITH-BE-PUBLIC-DOMAIN.up.railway.app
